<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>CheXNet | Created by Davy</title>
	<meta name="title" content="CheXNet | Created by Davy" />
	<meta name="description" content="Website for CheXNet as a course project for Media and Cognition in Dept. of EE THU" />
	<link rel="image_src" href="/images/notify_better_image.png" />

	<link rel="shortcut icon" id="favicon" href="favicon.png"> 
	<meta name="author" content="Davy">
	<link rel="canonical" href="http://www.chexnet.com/index.html" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico:400' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.onepage-scroll.js') }}"></script>
  <link href='/static/css/onepage-scroll.css' rel='stylesheet' type='text/css'>
  <script src="{{ url_for('static',filename='js/vue.js') }}"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/chexnet.css">
  <script src="/static/js/bootstrap.js"></script>
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type=text/javascript>
    function ajaxForm(){
        var formData = new FormData(document.getElementById("form1"));//表单id
        $.ajax({
            type: 'POST',
            url: $SCRIPT_ROOT + '/demo',
            data: formData,
            contentType:false,
            processData:false,
            dataType: 'json',//希望服务器返回json格式的数据
            success: function (data) {
                if (data.result!=null) {
                    result_1.predictions = data.result.predictions;
                    result_1.img_path = data.img_path;
                }
                <!--$("send_img").src=data.img_path-->
            },
            error: function () {
                alert("异常！");
            }
        });
    }
  </script>
	<script>
	  $(document).ready(function(){
      $(".main").onepage_scroll({
        sectionContainer: "section",
        responsiveFallback: 600,
        loop: true
      });
		});
		
	</script>
</head>
<body>
  <div class="wrapper">
	  <div class="main">
	    
      <section class="page1">
        <div class="page_container">
          <h1>CheXNet</h1>
          <h2>Radiologist-Level Pneumonia Detection on Chest X-Rays with Deep Learning</h2>
          <p class="credit">Created by <a href="https://github.com/DavyMorgan">Davy Morgan</a></p>
          <div class="btns">
  	        <a class="reload btn" href="https://github.com/DavyMorgan/CheXNet">Download on Github</a>
  	      </div>
  	    </div>
      </section>
	    
	    <section class="page2">
	      <div class="page_container">
          <h1>Easy-to-use user interface</h1>
          <h2>All you need is upload the X-ray, then diagnose it!</h2>
	      </div>
      </section>

      <section class="page3">
	      <div class="page_container">
          <h1>Have a try!</h1>
          <form id="form1" onsubmit="return false" enctype="multipart/form-data">
            <span class="btn btn-success fileinput-button">
              <span>Upload</span>
              <input type="file" id="img_id" name="img">
            </span>
            <button class="btn btn-success fileinput-button" type="button" onclick="ajaxForm()">Diagnose</button>
          </form>
          <div id="app" v-show="change_status">
            <img id="send_img" :src="img_path" />
            <table id="generatedTable"  >
                <thead>
                    <tr>
                        <th>排名</th>
                        <th>标签</th>
                        <th>概率</th>
                    </tr>
                </thead>
                <tbody >
                    <tr v-for="(item,index) in predictions">
                        <td >[[ index ]]</td>
                        <td >[[ item.label ]]</td>
                        <td>[[ item.probability ]]</td>
                    </tr>
                 </tbody>
             </table>
          </div>
	      </div>
      </section>
	    
	    <section class="page4">
	      <div class="page_container">
          <h1>Pretty Cool Eh?</h1>
          <h2>Feel free to make use of our work. You can customise the HTML content, the website style or even the back-end neural networks! I can't wait to see what you guys will come up with. Don't forget to star my repository!</h2>
          <div class="btns">
  	        <a class="reload btn" href="https://github.com/DavyMorgan/CheXNet">Download on Github</a>
          </div>
          <img src='/static/img/auther.jpg' alt='author' />
        </div>
      </section>
      <script>
          var result_1 = new Vue({
              el:"#app",
              data:{
                  predictions:null,
                  img_path:null,
              },
              delimiters: ['[[',']]'],
              computed:{
                  change_status: function () {
                      console.log(this.predictions);
                      console.log(this.predictions != null);
                      return this.predictions != null
                  }
              }
          })
      </script>
    </div>
    <a class="back" href="http://www.thepetedesign.com/#design">Highly appreciate Pete R.'s great work </a>
  </div>
</body>
</html>